{% extends 'base.html' %}

{% block title%}
    Home
{% endblock %}

{% block body%}
<div class="container">
  <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal">Blog</h1>
      <p class="fs-5 text-muted">
        Hi you there! So this is my Flask Blog-Application Example. Here you can find some default stuff
        like adding, deleting & updating posts. You are welcome! :)
      </p>
    </div>

    <div class="container row row-cols-1 row-cols-md-3 mb-3 text-center d-flex justify-content-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">What can I do here ?</h4>
          </div>

          <div class="container card-body">
            <ul class="list-group list-group-flush mt-3 mb-4">
              <li class="list-group-item">Read articles</li>
              <li class="list-group-item">Add, delete or update your own articles</li>
              <li class="list-group-item">You can check some info about us</li>
            </ul>
            <a href="/posts" type="button" class="w-100 btn btn-lg btn-outline-primary">Get started</a>
          </div>
        </div>
      </div>
    </div>

</div>
{% endblock %}